/* styles.css */
body {
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: #3779a2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #434644;
    padding: 20px 40px;
    width: 100%;
    text-align: center;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1 0  2vw rgba(125, 98, 98, 0.1);
    width: 300px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.03s;
}

.button:hover {
    background-color: #36c43d;
}

#feedback {
    margin: 20px 0;
    font-size: 1.2em;
}

#feedback.correct {
    color: green;
}

#feedback.incorrect {
    color: rgb(236, 5, 36);
}

#next {
    background-color: #008CBA;
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 7px;
    font-size: 16px;
    transition: background-color 0.03s;
}

#next:hover {
    background-color: #1500b5;
}